body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px 70px;
  background-color: black;
  color: white;
}  

.header ul {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color:  #f1f2f3;
  color: gray;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer p{
  margin: 0;
}