body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px 70px;
  background-color: black;
  color: white;
}  

.header ul {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color:  #f1f2f3;
  color: gray;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer p{
  margin: 0;
}

.module {
  width: 400px;
  border: 1px solid gray;
}

.module img {
  width: 400px;
  height: 150px;
}

.article {
  margin: 20px;
}

.view-details {
  margin-top: 20px;
}

#module-1 {
  position: absolute;
}

#module-2 {
  position: relative;
  left: 420px;
}

#module-3 {
  position: relative;
  bottom: 325px;
}

.about {
  width: 170px;
  background-color: #f1f2f3;
}

.right-floating-window {
  width: 240px;
  background-color: #f1f2f3;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-box{
  margin-bottom: 10px;
}

.text-box input {
  padding: 5px 10px;
}

.right-floating-window button {
  background-color: blue;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
}